/* ========================== Component Name ========================== */
$component: .button-block;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full my-8 mx-auto;
  
  &__wrap {
    @apply flex w-full flex-col relative justify-center items-center w-full mx-auto max-w-screen-xl text-wire-dark;
  }

  .btn {
    margin: 10px;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {
    &__wrap {
      @apply flex-row;
    }
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {

  $(component)__wrap {

  }
}
